{% extends 'base.html.twig' %}

{% block title %}Mes prestations reservées{% endblock %}

{% block body %}
    <div class="container-flex">
        <h1 class="title">Mes prestations reservées</h1>
        <div>{{ dump(bookings) }}</div>
        <div class="alert alert-primary alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ "Vous n'avez pas encore fait de réservations !" | raw }}
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-pink">Réservations</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Prestation</th>
                            <th>Professionnel</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Durée</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.service.name }}</td>
                                <td>{{ booking.professional.name }}</td>
                                <td>{{ booking.date|date("d/m/Y")  }}</td>
                                <td>{{ booking.hour }}</td>
                                <td>{{ booking.service.duration|duration}}</td>
                            </tr>
                        {% else %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
