{{ form_start(form) }}
    {{ form_row(form.name) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.category) }}
        </div>
        <div class="col-6">
            {{ form_row(form.professional) }}
        </div>
    </div>
    {{ form_row(form.slogan) }}
    {{ form_row(form.description) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.serviceType) }}
        </div>
        <div class="col-6">
            {{ form_row(form.duration) }}
        </div>
    </div>
    {{ form_row(form.imageFile) }}
    {{ form_row(form.price) }}
    <div class="flex-form">
        <h5>Prix additionnels</h5>
        <div class="hours" data-prototype="{{ form_widget(form.servicePrices.vars.prototype)|e('html_attr')}}">
            {# iterate over each existing tag and render its only field: name #}
            {% for servicePrice in form.servicePrices %}
                <div class="row-hour mb-3">
                    {{ form_row(servicePrice) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-success mt-3">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('embed_service_prices') }}
{% endblock %}