{% extends 'base.html.twig' %}

{% block title %}Réserver votre rendez-vous en ligne{% endblock %}


{% block body %}
    <div class="container-flex">
        <h1 class="title">Réserver votre rendez-vous en ligne</h1>
        <div id="calendar-holder" data-events-url="{{ path('fc_load_events') }}" professional="{{ service.professional.id }}"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sélectionnez une heure pour votre rendez-vous</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    {% for date in dates %}
                        <button class="btn btn-pink">{{ date|date('H:i') }}</button>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('calendar') }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('header') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}