{% extends 'base.html.twig' %}

{% block title %}Réserver votre rendez-vous en ligne{% endblock %}


{% block body %}
    <div class="container-flex">
        <h1 class="title">Réserver votre rendez-vous en ligne</h1>
        <div id="calendar-holder" data-events-url="{{ path('fc_load_events') }}"></div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('calendar') }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('header') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}