<div>
    <p>Bonjour !</p>
    <p>Vous avez reçu une demande d'inscription d'un professionnel depuis le site Mon RDV Beauté.</p>
    <p>{{ firstName }}, {{ lastName }} ({{ email }}), exerce l'activité de {{ profession }} à {{ city }}.</p>
    <p>Un commentaire a été laissé : {{ commentary }}</p>
</div>