<div>
    <p>Bonjour !</p>
    <p>Vous avez reçu une demande d'inscription d'un professionnel depuis le site Mon RDV Beauté.</p>
    <p>{{ prenom }}, {{ nom }} ({{ email }}), exerce l'activité de {{ activite }} à {{ lieu }}.</p>
    <p>Un commentaire a été laissé : {{ commentaire }}</p>
</div>