{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container-flex">
        <h2 class="title">Nos prestations - {{ category.name }}</h2>
        {% for service in services %}
        <div class="card-service">
            <div class="card-service-left">
                <img class="card-service-image" src="{{ vich_uploader_asset(service, 'imageFile') }}"/>
                <p class="card-service-slogan hidden">{{ service.slogan }}</p>
            </div>
            <div class="card-service-separator"></div>
            <div class="card-service-right">
                <h3>{{ service.name }}</h3>
                <p>{{ service.duration|duration }} | {{ service.price }}€</p>
                <button class="btn btn-primary btn-pink">Prendre RDV</button>
            </div>
        </div>
        {% endfor %}
        <div class="flex-buttons">
            <a href="{{ path('category_index') }}"><button class="btn btn-success">Retour à la liste</button></a>
            {% if app.user %}
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('category_edit', {'slug': category.slug}) }}">
                        <button class="btn btn-primary">Modifier la catégorie</button>
                    </a>
                    {{ include('category/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
