{% extends 'admin.html.twig' %}

{% block title %}Liste des professionnels{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h2 class="h2 mb-3 text-gray-800">Liste des professionnels</h2>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Professionnels</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <a href="{{ path("admin_professional_new") }}"><button class="btn btn-success btn-add">Ajouter un professionnel</button></a>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Activité</th>
                        <th>Télephone</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for professional in professionals %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                <a href="#" data-toggle="collapse" data-target="#collapsePages{{ loop.index }}" aria-expanded="true" aria-controls="collapsePages">{{professional.name}}</a>
                                <div id="collapsePages{{ loop.index }}" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <div class="flex-buttons">
                                            <a class="collapse-item" href="{{ path('admin_professional_edit', {'id': professional.id}) }}"><button class="btn btn-warning">Modifier</button></a>
                                            {{ include('admin/_professional_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{professional.email}}</td>
                            <td>{{professional.place}}</td>
                            <td>{{professional.description}}</td>
                            <td>{{professional.phone}}</td>
                            <td>{{professional.image}}</td>
                        </tr>
                    {% else %}
                        <h4>Il n'y a pas de professionnels !</h4>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}