{% extends 'base.html.twig' %}

{% block title %}Recapitulatif Réservation{% endblock %}

{% block body %}
    <div class="container-flex text-center">
        <h1 class="title">Récapitulatif de votre commande</h1>

        <p>Vous avez réservé pour le service {{ service.name }} le
            {{ date|date('d/M/Y') }}
            à {{ hour }} avec {{ service.professional.name }}.</p>

        <p>Pour confirmer votre prise de rendez-vous, cliquez sur le bouton valider ci-dessous.</p>
        <a href="{{ path(
            'booking_new', { "id" : service.id, "date" : date|date("d/M/Y")|replace({"/": "-"}), "hour" : hour}
        ) }}">
            <button class="btn btn-success">Valider mon rendez-vous</button>
        </a>
    </div>
    <a href="{{ path('booking_index') }}">back to list</a>
{% endblock %}