{% extends 'base.html.twig' %}

{% block title %}ServicePrices index{% endblock %}

{% block body %}
    <h1>ServicePrices index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_price in service_prices %}
            <tr>
                <td>{{ service_price.id }}</td>
                <td>{{ service_price.name }}</td>
                <td>{{ service_price.price }}</td>
                <td>
                    <a href="{{ path('service_prices_show', {'id': service_price.id}) }}">show</a>
                    <a href="{{ path('service_prices_edit', {'id': service_price.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_prices_new') }}">Create new</a>
{% endblock %}
