{% extends 'base.html.twig' %}

{% block title %}ServicePrices{% endblock %}

{% block body %}
    <h1>ServicePrices</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_price.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service_price.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service_price.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_prices_index') }}">back to list</a>

    <a href="{{ path('service_prices_edit', {'id': service_price.id}) }}">edit</a>

    {{ include('service_prices/_delete_form.html.twig') }}
{% endblock %}
